@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  letter-spacing:2px;
  display:flex;
  justify-content:center;
}
.popup {
  position: fixed;
  top: 150px;
  z-index: 9;
  height: 20vh;
  width: 35vw;
  background: #F2F2F2;
  border-radius: 15px;
  display: none;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  width: 162px;
  height: 36px;
  outline: none;
  border-radius: 15px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: greenyellow;
  align-items: center;
}
